.custom__error {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 7px;
    background-color: rgb(199, 64, 64);
    color: white;
    padding: 10px;
    box-shadow: 3px 2px 9px 0px rgba(94,90,90,0.75);
    -webkit-box-shadow: 3px 2px 9px 0px rgba(94,90,90,0.75);
    -moz-box-shadow: 3px 2px 9px 0px rgba(94,90,90,0.75);
    animation-duration: 1.5s;
    
    h5 {
        margin: 0;
        margin-left: 5px;
    }

}