
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 500px;
  width: 400px;
}

.spinner {
  border: 4px solid rgba(230, 221, 221, 0.2);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #cbd2da;
  // position: absolute;
  margin: 0 auto;

  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(380deg);
  }
}