@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.custom__error {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto;
    border-radius: 7px;
    color: #DA3633;
    background-color: #21262D;
    border: 0.5px solid #6B2A2B;
    padding: 10px;
    margin: 15px;
    animation-duration: 1.5s;
    font-family: 'Nunito', sans-serif;

    h3 {
        margin: 0;
        margin-left: 5px;
        font-size: 15px;
    }

}