@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Quicksand:wght@500&family=Source+Serif+Pro:ital@1&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #0D1117;
}

a {
  text-decoration: none;
}